<!-- athletes-events.hbs -->
<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<h3 class=padtop >Athletes Events</h3>

<section class="sectionone">
    {{! Create a table }}

    <table id="athletes-events-table" class="tableone" border="1" cellpadding="5" >
        {{! Header section }}

        <thead>
              <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th>Delete</th>    
            </tr>
        </thead>
        {{! Body section }}
        <tbody>
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.Athlete}}</td>
                <td>{{this.Event-Name}}</td>
                <td>{{this.Event-Level}}</td>
                <td>{{this.Athlete-Division}}</td>
                <td><button class="button-62" onClick="deleteAthletes_Events({{this.ID}})">Delete</button></td>          
            </tr>   
            {{/each}}
        </tbody>
    </table>
</section>   


<section class="sectiontwo">
        <h3 class="section-header">Search By Athlete</h3>
        <form id='search-athletes-events' method='GET' action ='/athletes-events'>
             <table class="addtable">
                
                <td><input class="search-box" type="text" name="athleteName" id="input-athlete-name-search" placeholder="Athlete Name..."></td>
            
            </table>
            <div class="addtable">
                <input class="button-62" type="submit" value="Search">
                <input class="button-62" type="reset" value="Cancel">
               
            </div>
            
        </form>
</section>

        

<section class="sectionthree">
        <h3 class="section-header"> Add Athlete to Event </h3>
        <form id="add-athletes-events-form">         
            <table class="addtable">
                
                <tr>
                    <td><label>Select Athlete</label></td>
                    <td><select id='input-athlete-name' class="button-62">
                        <option class="dropdown" value="">Select an Athlete</option>
                        {{#each athletesdata}}
                        <option class="dropdown" value="{{this.ID}}">{{this.Athlete}}, {{this.Division}}</option>
                        {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Select Event</label></td>
                    <td><select id='input-event-name' class="button-62">
                        <option class="dropdown" value="">Select Event</option>
                        {{#each eventsdata}}
                        <option class="dropdown" value="{{this.ID}}">{{this.Event}}, {{this.Competition}}, {{this.Division}},{{this.Event-Level}}</option>t
                        {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input class="button-62" onclick-"addAthletes_EventsForm()" type="submit" value="Add"></td>
                    <td><input class="button-62" type="reset" value="Cancel"></td>
                </tr>
            </table>
        </form>
</section>

<section class="sectionfour">
        <form id="update-athletes-events-form">
            <h3 class="section-header"> Update Athlete's Event </h3>
                <table class="tablefour">
                    <tr>
                        <td><label>Select Athlete_Event </label></td>
                        <td><select id='select-athlete-event' class="button-62">
                            <option class="dropdown" value="">Select an Athlete-Event  </option>
                            {{#each data}}
                            <option class="dropdown" value="{{this.ID}}">{{this.ID}},{{this.Athlete}},{{this.Event-Name}},{{this.Event-Level}},{{this.Athlete-Division}}</option>
                            {{/each}}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Select Athlete</label></td>
                        <td><select id='select-updateathlete' class="button-62">
                            <option class="dropdown" value="">Select an Athlete</option>
                            {{#each athletesdata}}
                            <option class="dropdown" value="{{this.ID}}">{{this.Athlete}}</option>
                            {{/each}}
                            <option class= "dropdown" value= "NULL">NULL</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Select Event</label></td>
                        <td><select id='select-updateevent' class="button-62">
                            <option class="dropdown" value="">Select an Event</option>
                            {{#each eventsdata}}
                            <option class="dropdown" value="{{this.ID}}">{{this.Event}},{{this.Competition}},{{this.Division}},{{this.Event-Level}}</option>
                            {{/each}}
                            <option class= "dropdown" value= "NULL">NULL</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="button-62" onclick-"updateAthletesEventsForm()" type="submit" value="Update Athlete Event"></td>
                        <td><a href='/athletes-events'><input class="button-62" type="reset" value="Cancel"></a></td>
                    </tr>
                </table>
        </form>
</section>
</body>            

</html>

<script src="./js/delete_athletes_events.js"></script>
<script src="./js/add_athletes_events.js"></script>
<script src="./js/update_athletes_events.js"></script>