
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<h3 class=padtop >Athletes</h3>

<section class="sectionone">
    {{! Create a table }}

    <table id="athletes-table" class="tableone" border="1" cellpadding="5" >
        {{! Header section }}

        <thead>
              <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th>Delete</th>    
            </tr>
        </thead>
        {{! Body section }}
        <tbody>
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.Athlete}}</td>
                <td>{{this.Team}}</td>
                <td>{{this.Division}}</td>
                <td>{{this.Athlete-Phone}}</td>
                <td>{{this.Athlete-Email}}</td>
                <td>{{this.Athlete-Address}}</td>
                <td>{{formatDate this.DOB 'MM DD YYYY'}}</td>
                <td>{{this.Age}}</td>
                <td><button class="button-62" onClick="deleteAthlete({{this.ID}})">Delete</button></td>    
            </tr>   
            {{/each}}
        </tbody>
    </table>
</section>   


<section class="sectiontwo">
        <h3 class="section-header">Search By Athlete Name</h3>
        <form id='search-athletes' method='GET' action ='/athletes'>
            <table class="addtable">
        
                <td><input class="search-box" type="text" name="athleteName" id="input-athlete-search" placeholder="Athlete Name..."></td>
            
            </table>
            <div class="addtable">
                <input class="button-62" type="submit" value="Search">
                <input class="button-62" type="reset" value="Cancel">
               
            </div>
            
        </form>
</section>

        

<section class="sectionthree">
        <h3 class="section-header"> Add Athlete </h3>
        <form id="add-athlete-form">         
            <table class="addtable">
               
               
                <th>
                    <select
                    name="input-team-name"
                    class="button-62"
                    id="input-team-name"
                    required>
                    <option class="dropdown" value="">
                    Select a Team
                    </option>
                    {{#each teamsdata}}
                    <option class="dropdown" value="{{this.ID}}">
                    {{this.Team}}
                    </option>
                {{/each}}
                </select> 
                </th>
                 <th>
                    <select
                    name="input-division-name"
                    class="button-62"
                    id="input-division-name"
                    required>
                    <option class="dropdown" value="">
                    Select a Division
                    </option>
                    {{#each divisionsdata}}
                    <option class="dropdown" value="{{this.ID}}">
                    {{this.Division}}
                    </option>
                {{/each}}
                </select> 
                </th>
                 <tr>
                    <td><p class="inpboxlabel" for="input-athlete-name">Athlete Name</p></td> 
                    <td><input class="inpbox" type="text" name="input-athlete-name" id="input-athlete-name" required  placeholder="Athlete Name"></td>  
                </tr> 
                <tr>
                    <td><p class="inpboxlabel" for="input-athlete-phone">Athlete Phone</p></td> 
                    <td><input class="inpbox" type="text" name="input-athlete-phone" id="input-athlete-phone" required placeholder="Athlete Phone"></td>
                </tr> 
                <tr>
                    <td><p class="inpboxlabel" for="input-athlete-email">Athlete Email</p></td> 
                    <td><input class="inpbox" type="text" name="input-athlete-email" id="input-athlete-email" required placeholder="Athlete Email"></td>
                </tr>
                <tr>
                    <td><p class="inpboxlabel" for="input-athlete-address">Athlete Address</p></td> 
                    <td><input class="inpbox" type="text" name="input-athlete-address" id="input-athlete-address" required placeholder="Athlete Address"></td>  
                </tr>
                <tr>
                    <td><p class="inpboxlabel" for="input-athlete-DOB">Athlete DOB</p></td> 
                    <td><input class="inpbox"type="date" name="input-athlete-DOB" id="input-athlete-DOB" required placeholder="DOB"></td>
                        
                </tr>
                <tr>
                    <td><p class="inpboxlabel" for="input-athlete-age">Athlete Age By August 31st</p></td> 
                    <td><input class="inpbox" type="text" name="input-athlete-age" id="input-athlete-age" required placeholder="Age"></td>
                        
                </tr>
                <tr>
                    <td><input class="button-62" onclick-"addAthleteForm()" type="submit" value="Add"></td>
                    <td><input class="button-62" type="reset" value="Cancel"></td>
                </tr>
            </table>
        </form>
</section>

        
        

<section class="sectionfour">
        <form id="update-athlete-form">
            <h3 class="section-header"> Update Athlete </h3>
                <table class="tablefour">
                
                    <tr>
                        <td><p>Select Athlete</p></td>
                        <td><select class="button-62" id='select-athlete' required>
                            <option class="dropdown" value="">Select Athlete</option>
                            {{#each data}}
                            <option class="dropdown" value="{{this.ID}}">{{this.Athlete}}</option>
                            {{/each}}
                        </select>
                        </td>
                    </tr>
                    <tr>
                    <td><p>Select Team</p></td>
                    <td><select
                    name="update-team-name"
                    class="button-62"
                    id="update-team-name"
                    required>
                    <option class="dropdown" value="">
                    Select a Team
                    </option>
                    {{#each teamsdata}}
                    <option class="dropdown" value="{{this.ID}}">
                    {{this.Team}}
                    </option>
                {{/each}}
                <option class= "dropdown" value= "NULL">NULL</option>
                </select> 
                </td>
                </tr>
                
                 <tr><td><p>Select Athlete</p></td>
                    <td><select
                    name="update-division-name"
                    class="button-62"
                    id="update-division-name"
                    required>
                    <option class="dropdown" value="">
                    Select a Division
                    </option>
                    {{#each divisionsdata}}
                    <option class="dropdown" value="{{this.ID}}">
                    {{this.Division}}
                    </option>
                {{/each}}
                </select> 
                </td>
                </tr>
                
            
                <tr>
                    <td><p class="inpboxlabel" for="update-athlete-name">Athlete Name</p></td> 
                    <td><input class="inpbox" type="text" name="update-athlete-name" id="update-athlete-name" required  placeholder="Athlete Name"></td>  
                </tr> 
                <tr>
                    <td><p class="inpboxlabel" for="update-athlete-phone">Athlete Phone</p></td> 
                    <td><input class="inpbox" type="text" name="update-athlete-phone" id="update-athlete-phone" required placeholder="Athlete Phone"></td>
                </tr> 
                <tr>
                    <td><p class="inpboxlabel" for="update-athlete-email">Athlete Email</p></td> 
                    <td><input class="inpbox" type="text" name="update-athlete-email" id="update-athlete-email" required placeholder="Athlete Email"></td>
                </tr>
                <tr>
                    <td><p class="inpboxlabel" for="update-athlete-address">Athlete Address</p></td> 
                    <td><input class="inpbox" type="text" name="update-athlete-address" id="update-athlete-address" required placeholder="Athlete Address"></td>  
                </tr>
                <tr>
                    <td><p class="inpboxlabel" for="update-athlete-DOB">Athlete DOB</p></td> 
                    <td><input class="inpbox"type="date" name="update-athlete-DOB" id="update-athlete-DOB" required placeholder="DOB"></td>
                        
                </tr>
                <tr>
                    <td><p class="inpboxlabel" for="update-athlete-age">Athlete Age By August 31st</p></td> 
                    <td><input class="inpbox" type="text" name="update-athlete-age" id="update-athlete-age" required placeholder="Age"></td>
                        
                </tr>
                <tr>
                    <th>
                        <td><input class="button-62"  onclick-"updateAthleteForm()" type="submit" value="Update Athlete"></td>
                        <td><a href='/athletes'><input class="button-62" type="reset" value="Cancel"></a></td>
                    </th>
                </table>
        </form>
</section>
            


<script src="./js/delete_athlete.js"></script>
<script src="./js/update_athlete.js"></script>
<script src="./js/add_athlete.js"></script>