<!DOCTYPE HTML>

<head>
    <html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href='./style.css'>
    <title>
       Baton Twirling Competition Entry Form
    </title>
</head>

<style>
body{
        
    font-family: 'Roboto', sans-serif;
    color: #DEFFFF;
    font-size: 15px;
    background-color: #151F22;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #00788F;
    opacity: 0.9;
}

.hero-text {
    text-align: center;
    padding: 15px;
}

.headertext {

    font-family: 'Montserrat', sans-serif;
    color: #80FFF4;
    font-size: 30px;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 75px;
    padding: 25px;
}

.header-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #80FFF4;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-flow: row wrap;
}

a:visited {
    color: #80FFF4;
}

a:hover {
    color:  #DEFFFF;
}

a {
    color: #80FFF4;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;

}

nav, #navmenu, li, ul {
    font-family: 'Montserrat', sans-serif;
    color: #DEFFFF;
    font-size: 18px;
    position: relative;
    display: inline-block;
    border: None;
    margin: 5px auto auto auto;
    padding: 10px;
    text-align: center;
    align-content: space-around;

}

.sticky {
    background-color: #00788F;
    position: fixed;
    top: 0;
    display: flex;
    flex: 3;
    margin: -15px;
}
 
#nav-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home-desc {
    display: flex;
    flex: 1;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    margin: 25px;
    padding-left: 300px;
    padding-right: 300px;
}
.summary-box {
    background-color:  #151F22;
    padding: 25px;
    box-shadow: 2px 2px 4px 2px #3795af;
    border-radius: 25px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    color: #3795af;
    font-size: 35px;
    text-align: center;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color:  #3795af;
    font-size: 30px;
    text-align: center;


}
h3 {
    font-family: 'Roboto', sans-serif;
    color: #3795af;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
strong {
    color: #3795af;
}

footer {

    font-family: 'Montserrat', sans-serif;
    font-size: 5px;
    padding-top: 15px;
    color: #3795af;
    text-align: center;
    position: relative;
    bottom: 0;
    
}
.footer-text {
    font-size: 15px;
}

.tableone {
      
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 25px;
    font-size: 15px;
    color:  #DEFFFF;
    text-align: center;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    
}
.tableone th tr { 
    
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}   

.tableone th td {
    border: 1px solid gray;
    height: 20px;
    width: 160px
  }

.tabletwo {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }

.tablethree {
    
    font-size: 20px;
    text-align: center;
    color: white;
    margin: auto;
    padding: 25px;
    
  }
.tablefour {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 100vh;
    

  }
.tablefive {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 75vh;
    

  }
.section-header{
    color:#80FFF4;
}  
.sectionone {
    padding-top: 20px;
    background-color: #151F22;
}
.sectiontwo {
    background-color: #00788F;
    padding: 15px;
    
}
.sectionthree {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #151F22;
    
}

.sectionfour {
    background-color: #00788F;
    padding-top: 15px;
    
}
.sectionfive {
    background-color: #151F22;
    padding: 25px;
}

#browse {
    padding-top: 100px;
}
</style>

<body>
<div id="browse" >
    <section class="sectionone">
    <table class="tableone" border="1" cellpadding="5">
        <thead>
            <tr>
                <th><button class="btn" value="Add Competition" onClick="addCompetition({{this.id}})">Add Competition</button></th>
                <th></th>
                <th>ID</th>
                <th>Competition Name</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>Location Name</th>
                <th>Location Address</th>
                <th>Location Phone</th>      
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr data-value = {{this.id}}>
                <td><button class="btn" value="Update Competition" onClick="updateCompetition({{this.id}})">Update Competition</button></td>
                <td><button class="btn" value= "Delete Competition" onClick="deleteCompetition({{this.id}})">Delete Competition</button></td>
                <td>{{this.id}}</td>
                <td>{{this.competitionName}}</td>
                <td>{{this.date}}</td>
                <td>{{this.startTime}}</td>
                <td>{{this.locationName}}</td>
                <td>{{this.locationAddress}}</td>
                <td>{{this.locationPhone}}</td>
                </tr>     
            {{/each}}
        </tbody>
    </table>
    </section>
</div>

<div id="search" class="sectiontwo">
            <section >
            <h3 class="section-header">Search By Competition Name</h3>
            <form id="search-competitions" method='GET' action='/competitions.html'>
                <table class="tabletwo">
                    <tr>
                        <td><input type="text" name="competition-text-search" required></td>
                    </tr>
                </table>
                <div class="tabletwo">
                    <input type="submit" value="Search">
                    <a href='/competitions.html'><input type="button" value="Reset"></a>
                </div>
            </form>
            </section>
        </div>
        
        <div id="insert" class="sectionthree">
            <section>
                <h3 class="section-header"> Add Competition </h3>
                <form method="POST" id="addCompetition">         
                <table class="tablethree">
                    <tr>
                        <td><label>Name</label></td> 
                        <td><input type="text" name="input-competition-name" required></td>
                        <td>*Required</td>
                    </tr>
                    <tr>
                        <td><label>Date</label></td> 
                        <td><input type="text" name="input-competition-date" required></td>
                        <td>*Required</td>
                    </tr>
                    <tr>
                        <td><label>Start Time</label></td> 
                        <td><input type="text" name="input-competition-start-time" required></td>
                        <td>*Required</td>
                    </tr>
                    <tr>
                        <td><label>Location Name </label></td> 
                        <td><input type="text" name="input-location-name" required></td>
                        <td>*Required</td>
                    </tr>
                    <tr>
                        <td><label>Address </label></td> 
                        <td><input type="text" name="input-location-name" required></td>
                        <td>*Required</td>
                    </tr>
                    <tr>
                        <td><label>Phone</label></td> 
                        <td><input type="text" name="input-location-phone"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Add"></td>
                        <td><a href='/competitions.html'><input type="button" value="Cancel"></a></td>
                    </tr>
                </table>
                </form>
            </section>
        </div>
        
        
        <div id="update" class="sectionfour">
            <section>
                <form id="updateCompetitions" method="POST">
                <h3 class="section-header"> Update Competition </h3>
               
                <table class="tablefour">
                    <tr>
                        <td><label>Select Competition:</label></td>
                        <td><select id="update-competition" onChange="formFill()" required>
                                <option value="competition">Select a Competition</option>
                                <option value="1">Kelly Kadet Baton Extravaganza</option>
                                <option value="2">Oregon State Baton Championships</option>
                                <option value="3">2023 Western Regional Championships</option>
                            </select></td>
                        <td>*Required</td>
                    </tr>
                    <tr>
                        <td><label>Name:</label></td>
                        <td><input type="text" name="update-competition-name"></td>     
                    </tr>
                    <tr>
                        <td><label>Date: </label></td>
                        <td><input type="text" name="update-date"></td>
                    </tr>
                    <tr>
                        <td><label>Start Time: </label></td>
                        <td><input type="text" name="update-start-time"></td>
                    </tr>
                    <tr>
                        <td><label>Location Name: </label></td>
                        <td><input type="text" name="update-location-name"></td>
                    </tr>
                    <tr>
                        <td><label>Address:</label></td>
                        <td><input type="text" name="update-location-address"></td>
                    </tr>
                    <tr>
                        <td><label>Phone: </label></td>
                        <td><input type="text" name="update-location-phone"></td>
                    </tr>
                    <tr>
                        <td><input class='btn' type="submit" value="Update Competition"></td>
                        <td><a href='/competitions.html'><input type="button" value="Cancel"></a></td>
                    </tr>
                </table>
            </form>
            </section>
            
            <div id="delete">
                <section class="sectionfive">
                    <h3 class="section-header">Delete Competition</h3>
                <form method="POST" id="deleteCompetition">
                    <table class="tablefive">
                        <tr><td><select id="deletecompetitionID" onChange="formFill()" required>
                            <option value="competition">Select a Competition</option>
                            <option value="1">Kelly Kadet Baton Extravaganza</option>
                            <option value="2">Oregon State Baton Championships</option>
                            <option value="3">2023 Western Regional Championships</option>
                        </select></td></tr>
                        <tr>
                            <td>Are you sure you want to delete this competition?</td>       
                        </tr>
                        <tr>
                            <td><input type="submit" value="Delete">
                            <a href='/competitions.html'><input type="button" value="Cancel"></a></td>
                        </tr>
                    </table>
                    
                </form> 
            </section>
              </div>
        </div>
    </body>
    
    <script language="JavaScript">
        function newCompetition() { showform('insert'); }
        function updateCompetition() { showform('update'); }
        function deleteCompetition() { showform ('delete'); }
        function browseCompetitions() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
    </html>