<!-- divisions.hbs -->

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<h3 class=padtop >Divisions</h3>

<section class="sectionone">
    {{! Create a table }}

    <table id="divisions-table" class="tableone" border="1" cellpadding="5" >
        {{! Header section }}

        <thead>
              <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th>Delete</th>    
            </tr>
        </thead>
        {{! Body section }}
        <tbody>
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.Division}}</td>
                <td><button class="button-62" onClick="deleteDivision({{this.ID}})">Delete</button></td>            
            </tr>   
            {{/each}}
        </tbody>
    </table>
</section>   

<section class="sectionthree">
        <h3 class="section-header"> Add Division </h3>
        <form id="add-division-form">         
            <table class="tablethree">
                
                <tr>
                    <td><p class="inpboxlabel" for="input-division-name">Division Name</p></td>
                    <td><input class="inpbox" type="text" name="input-division-name" id="input-division-name" required  placeholder="Division Name"></td>
                       
                </tr>
                
                <tr>
                    <td><input class="button-62" onclick-"addDivisionForm()" type="submit" value="Add"></td>
                    <td><input class="button-62" type="reset" value="Cancel"></td>
                </tr>
            </table>
        </form>
</section>
            



<script src="./js/delete_division.js"></script>
<script src="./js/add_division.js"></script>
