<!-- events.hbs -->

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<h3 class=padtop >Events</h3>

<section class="sectionone">
    {{! Create a table }}

    <table id="events-table" class="tableone" border="1" cellpadding="5" >
        {{! Header section }}

        <thead>
              <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th>Delete</th>    
            </tr>
        </thead>
        {{! Body section }}
        <tbody>
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.Event}}</td>
                <td>{{this.Competition}}</td>
                <td>{{this.Division}}</td>
                <td>{{this.Event-Level}}</td>
               
                <td><button class="button-62" onClick="deleteEvent({{this.ID}})">Delete</button></td>            
            </tr>   
            {{/each}}
        </tbody>
       
    </table>
</section>   
       

<section class="sectionthree">
        <h3 class="section-header"> Add Event </h3>
        <form id="add-event-form" class="sectionthree">         
            <table class="addtable">
                
                <th>
                    <select
                    name="input-competition-name"
                    class="button-62"
                    id="input-competition-name"
                    required>
                    <option class="dropdown" value="">
                    Select a Competition
                    </option>
                    {{#each competitionsdata}}
                    <option  class="dropdown" value="{{this.ID}}">
                    {{this.Competition}}
                    </option>
                {{/each}}
                </select>
                </th>
                <th>
                    <select
                    name="input-division-name"
                    class="button-62"
                    id="input-division-name"
                    required>
                    <option class="dropdown" value="">
                    Select a Division
                    </option>
                    {{#each divisionsdata}}
                    <option class="dropdown" value="{{this.ID}}">
                    {{this.Division}}
                    </option>
                {{/each}}
                </select> 
                </th>
                <th>
                    <select
                    name="input-event-level-name"
                    class="button-62"
                    id="input-event-level-name"
                    required>
                    <option  class="dropdown" value="">
                    Select an Event Level
                    </option>
                    {{#each eventlevelsdata}}
                    <option  class="dropdown" value="{{this.ID}}">
                    {{this.EventLevel}}
                    </option>
                {{/each}}
                </select>
                </th>
               <th>
                    <td><p class="inpboxlabel" for="input-event-name">New Event Name</p></td> 
                    <td><input class="inpbox" type="text" name="input-event-name" id="input-event-name" required placeholder="Event Name"></td>
                </th>
                 <th>
                    <td><input class="button-62" onclick-"addEventForm()" type="submit" value="Add"></td>
                    <td><input class="button-62" type="reset" value="Cancel"></td>
                </th>
            </table>
        </form>
</section>
         
<script src="./js/delete_event.js"></script>
<script src="./js/add_event.js"></script>