<!-- events.hbs -->

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<h3 class=padtop >Events</h3>

<section class="sectionone">
    {{! Create a table }}

    <table id="events-table" class="tableone" border="1" cellpadding="5" >
        {{! Header section }}

        <thead>
              <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th>delete</th>    
            </tr>
        </thead>
        {{! Body section }}
        <tbody>
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.Event}}</td>
                <td>{{this.Competition}}</td>
                <td>{{this.Division}}</td>
                <td>{{this.Event-Level}}</td>
               
                <td><button onClick="deleteEvent({{this.ID}})">Delete</button><td>            
            </tr>   
            {{/each}}
        </tbody>
    </table>
</section>   
       

<section class="sectionthree">
        <h3 class="section-header"> Add Event </h3>
        <form id="add-event-form">         
            <table class="tablethree">
                
                <tr>
                    <select
                    name="input-competition-name"
                    id="mySelect"
                    class="dropdown"
                    onChange="formFill(this)"
                    required>
                    <option value="test">
                    Select a Competition
                    </option>
                    {{#each data}}
                    <option value="{{this.id}}">
                    {{this.Competition}}
                    </option>
                {{/each}}
                </select>
                </tr>
                <tr>
                    <select
                    name="input-division-name"
                    id="mySelect"
                    class="dropdown"
                    onChange="formFill(this)"
                    required>
                    <option value="test">
                    Select a Division
                    </option>
                    {{#each data}}
                    <option value="{{this.id}}">
                    {{this.Division}}
                    </option>
                {{/each}}
                </select> 
                </tr>
                <tr>
                    <select
                    name="input-event-level-name"
                    id="mySelect"
                    class="dropdown"
                    onChange="formFill(this)"
                    required>
                    <option value="test">
                    Select an Event Level
                    </option>
                    {{#each data}}
                    <option value="{{this.id}}">
                    {{this.Event-Level}}
                    </option>
                {{/each}}
                </select>
                </tr>
                <tr>
                    <td><label for="input-event-name">Event Name </label></td> 
                    <td><input type="text" name="input-event-name" id="input-event-name" required placeholder="Event Name"></td>
                </tr>
                 <tr>
                    <td><input onclick-"addEventForm()" type="submit" value="Add"></td>
                    <td><input type="reset" value="Cancel"></td>
                </tr>
            </table>
        </form>
</section>

        
        

<section class="sectionfour">
        <form id="update-event-form">
            <h3 class="section-header"> Update Event </h3>
                <table class="tablefour">
                    <tr>
                        <td><label>Select an Event to Update:</label></td>
                        <td><select>
                            <option value="">Select an Event to Update</option>
                            {{#each data}}
                            <option value="{{this.ID}}">{{this.Competition}}</option>
                            {{/each}}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <select
                            name="input-event-name"
                            id="mySelectupdate"
                            class="dropdown"
                            onChange="formFill(this)"
                            required>
                            <option value="test">
                            Select an Event to Update
                            </option>
                            {{#each data}}
                            <option value="{{this.id}}">
                            {{this.Event}}
                        </option>
                        {{/each}}
                        </select>
                    </tr>
                    <tr>
                         <select
                        name="input-competition-name"
                        id="mySelectudpate"
                        class="dropdown"
                        onChange="formFill(this)"
                        required>
                        <option value="test">
                        Select a Competition
                        </option>
                        {{#each data}}
                        <option value="{{this.id}}">
                        {{this.Competition}}
                        </option>
                    {{/each}}
                    </select>
                    </tr>
                    <tr>
                         <select
                            name="input-division-name"
                            id="mySelectupdate"
                            class="dropdown"
                            onChange="formFill(this)"
                            required>
                            <option value="test">
                            Select a Division
                            </option>
                            {{#each data}}
                            <option value="{{this.id}}">
                            {{this.Division}}
                        </option>
                        {{/each}}
                        </select>
                </tr>
                    <tr>
                        <select
                        name="input-event-level-name"
                        id="mySelectupdate"
                        class="dropdown"
                        onChange="formFill(this)"
                        required>
                        <option value="test">
                        Select an Event Level
                        </option>
                        {{#each data}}
                        <option value="{{this.id}}">
                        {{this.Event-Level}}
                        </option>
                    {{/each}}
                    </select>  
                    </tr>
                    <tr>
                        <tr>
                        <td><label for="update-event-name" >New Event Name </label></td>
                        <td><input type="text" name="update-event-name" id="update-event-name" placeholder="Enter New Event Name"></td>
                    </tr>
                    <tr>
                        <td><input onclick-"updateEventForm()" type="submit" value="Update Event"></td>
                        <td><a href='/events'><input type="reset" value="Cancel"></a></td>
                    </tr>
                </table>
        </form>
</section>
            

<script>
  function formFill(data) {
    // Update the form with the selected customer's data
    var id = data.value;
    updateEventForm(eventID)
    };
      function formFill(data) {
    // Update the form with the selected customer's data
    var id = data.value;
    addEventForm(eventID)
    };
    const btn = document.getElementById('btn');
    function showForm(btn) {
        document.getElementById("showtable").style.display = "block";
    };
</script>

<script src="./js/delete_event.js"></script>
<script src="./js/update_event.js"></script>
<script src="./js/add_event.js"></script>